* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: normal;
}
a {
  text-decoration: none;
}

#todo {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-direction: column-reverse;
  margin-top: 20px;
}

body {
  position: relative;
}

.todos {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.todos >div{
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 35px 0 ;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.9);
}

.todos >div h1{
  margin-bottom: 25px;
  font-family: serif;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
}

.input__wrapper {
display: flex;
flex-direction: column;
gap: 20px;

}

.input__wrapper input{
  height: 50px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 0 20px;
  font-size: 18px;
}

.input__wrapper button{
  height: 40px;
  width: 140px;
  margin: 0 auto;
  background-color: green;
  border: 2px solid transparent;
  outline: none;
  font-size: 14px;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
}

#main {
  height: auto ;
  width:300px ;
}
#main #todo ul{
  display: flex;
  flex-direction: column-reverse;
}
#main #todo li{
color: white;
text-align: center;
text-transform: capitalize;
font-size: 22px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 600;
margin-bottom: 20px;
word-break: break-all;
}

.btn__wrapper{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn__wrapper button{
  height: 30px;
  width: 100px;
  margin: 0 auto;
  background-color: red;
  border: 2px solid transparent;
  outline: none;
  font-size: 12px;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  font-family: sans-serif;

}

.btn__wrapper button:nth-child(1){
  background-color: blue;
}